* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
}

.main {
    
}

.header {
    box-shadow: 0px 11px 63px -41px rgba(66, 68, 90, 1);
}

.header__title {
    padding: 15px 0 5px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(73, 173, 255);
}

.toolbar {
    padding: 10px;
}

.toolbar__row {
    display: flex;
}

.toolbar__group {
    padding: 0 10px;
}

.toolbar__group--separator {
    border-right: 1px solid rgb(184, 184, 184);
}

.toolbar-button {
    width: 30px;
    height: 30px;
    padding: 6px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.toolbar-button:hover {
    border: 1px solid rgb(149, 207, 255);
    box-shadow: 0 0 5px rgb(184, 184, 184);
}

.toolbar-input {
    width: 30px;
    height: 30px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}

.toolbar-input:hover {
    border: 1px solid rgb(149, 207, 255);
    box-shadow: 0 0 5px rgb(184, 184, 184);
}

.toolbar-select {
    min-width: 40px;
    max-width: 120px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgba(228, 228, 228, .5);
    border: 1px solid transparent;
}

.toolbar-select:hover {
    border: 1px solid rgb(149, 207, 255);
    box-shadow: 0 0 5px rgb(184, 184, 184);
}

.toolbar-select:focus {
    outline: none;
}

.content {
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.content__editor {
    width: 90%;
    height: 500px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 6px solid rgb(149, 207, 255);
    box-shadow: 0 2px 20px 4px rgb(184, 184, 184);
}

.content__editor:focus {
    outline: none;
}

.content__editor>ul, .content__editor>ol {
    padding-inline-start: 40px;
}